@charset "UTF-8";
@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Roboto;
  src: url(fonts/Robotomedium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Roboto;
  src: url(fonts/Robotobold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Good-Times;
  src: url(fonts/GoodTimesRg-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

*, :after, :before {
  box-sizing: border-box; }

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  outline: 0;
  -webkit-tap-highlight-color: transparent; }

button, label {
  outline: 0;
  font: inherit; }

label {
  -webkit-tap-highlight-color: transparent; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote::before, blockquote:after, q::before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  border: 0;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: 0 0;
  color: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none; }

input, label, select, textarea {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: 0 0;
  line-height: inherit;
  box-shadow: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  font-family: inherit; }

label, select, textarea {
  border: 0;
  font-size: inherit; }

input::-moz-placeholder, label::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
  font-family: inherit;
  font-size: inherit;
  color: inherit; }

input:-ms-input-placeholder, label:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-family: inherit;
  font-size: inherit;
  color: inherit; }

input::placeholder, label::placeholder, select::placeholder, textarea::placeholder {
  font-family: inherit;
  font-size: inherit;
  color: inherit; }

body, html {
  font-family: Good-Times, sans-serif;
  font-weight: 400;
  color: #000;
  scroll-behavior: smooth;
  font-size: 18px; }

img, video {
  max-width: 100%;
  height: auto; }

main {
  margin-bottom: -4px; }

.pointer {
  cursor: pointer; }

.no-results {
  text-align: center;
  color: #7ab931;
  display: none;
  font-weight: 700;
  font-size: 30px; }

.footer-wrapper .col a, .no-results.active {
  display: block; }

@media (max-width: 767px) {
  .no-results {
    font-size: 18px; } }

.no-mt {
  margin-top: -110px !important; }

@media (max-width: 767px) {
  .no-mt {
    margin-top: 0 !important; } }

.next-prev {
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 7px; }

.next-prev__inner {
  position: relative;
  width: 100%; }

@media (max-width: 767px) {
  .next-prev__inner {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .next-prev {
    position: relative;
    margin-bottom: 13px; } }

@media (max-width: 1199px) {
  body, html {
    font-size: 17px; } }

@media (max-width: 1023px) {
  body, html {
    font-size: 16px; } }

@media (max-width: 767px) {
  body, html {
    font-size: 15px; } }

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1195px; }

@media (max-width: 1500px) {
  .container {
    padding: 0 100px; } }

@media (max-width: 1199px) {
  .container {
    padding: 0 100px; } }

@media (max-width: 1023px) {
  .container {
    padding: 0 60px; } }

@media (max-width: 767px) {
  .container {
    padding: 0 45px; } }

@media (max-width: 639px) {
  .container {
    padding: 0 30px; } }

.container_header {
  padding: 0 50px !important; }

@media (max-width: 1023px) {
  .container_header {
    padding: 0 30px !important; } }

.container-big {
  width: 100%;
  margin: 0 auto;
  max-width: 1550px;
  padding: 0 90px; }

@media (max-width: 1023px) {
  .container-big {
    padding: 0 60px; } }

@media (max-width: 767px) {
  .container-big {
    padding: 0 45px; } }

@media (max-width: 639px) {
  .container-big {
    padding: 0 30px; } }

.header {
  background: #eeefef; }

@media (max-width: 1023px) {
  .header-actions__btn {
    text-align: center;
    margin-top: 15px; } }

.header-actions__btn.adaptive {
  display: none; }

@media (max-width: 1023px) {
  .header-actions__btn.adaptive {
    display: flex;
    margin-right: 55px;
    justify-content: center;
    align-items: center;
    margin-top: 8px; } }

@media (min-width: 320px) and (max-width: 370px) {
  .header-actions__btn.adaptive {
    margin-right: 38px; } }

@media (max-width: 1023px) {
  .header-actions__btn.desktop {
    display: none; } }

.header-actions__btn .header-btn {
  font-size: 14px;
  padding: 11px 34px;
  width: 144px;
  transition: all .3s;
  color: #005ac3; }

.header-actions__btn .header-btn:hover {
  color: #7ab931; }

.row {
  display: flex;
  flex-wrap: wrap; }

@media (max-width: 1023px) {
  .header-actions__btn .header-btn {
    padding: 0; } }

@media (max-width: 767px) {
  .header-actions__btn .header-btn {
    font-size: 12px;
    width: 128px; } }

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap; }

.logo {
  height: 60px;
  width: 105px; }

@media (max-width: 1023px) {
  .logo {
    width: 100px;
    height: 45px; } }

@media (max-width: 767px) {
  .logo {
    width: 70px;
    height: 40px; } }

.nav, .nav-brand {
  justify-content: space-between; }

.nav {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: 0;
  min-height: 76px;
  overflow-y: hidden;
  transition: height 1s cubic-bezier(0.26, -0.01, 0, 1.01); }

.nav-brand {
  display: flex; }

.nav-brand__wrapper {
  display: block;
  padding: 1rem 0;
  font-size: 1.6rem;
  margin-left: 19px; }

.nav-items {
  list-style-type: none;
  margin: 0; }

.nav-menu {
  flex: 0 0 150px; }

.nav-items__menu {
  flex: 0 0 50%;
  display: flex;
  justify-content: flex-end;
  padding: 4px 0 0 0; }

.nav-items__link {
  padding-right: 55px;
  font-size: 13px;
  color: #005ac3;
  padding-top: 3px; }

@media (max-width: 1199px) {
  .nav-items__link {
    padding-right: 40px;
    padding: 1.3rem 1rem; } }

@media (max-width: 1023px) {
  .nav-items__link {
    font-size: 18px;
    padding: 2.5rem 1rem; } }

@media (max-width: 767px) {
  .nav-items__link {
    padding: 2rem 1rem; }
  .nav-items__menu {
    padding: 0; } }

.nav-items__link_cart {
  margin-right: 80px;
  padding-right: 0;
  cursor: pointer; }

@media (max-width: 1023px) {
  .nav-items__link_cart {
    margin-right: 0; } }

.nav-items__link .menu-link {
  border-bottom: 2px solid transparent;
  transition: all .1s ease-out; }

.call-now {
  font-size: 6px;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  -moz-transform: matrix(2.08333, 0, 0, 2.08333, 0, 0);
  -webkit-transform: matrix(2.08333, 0, 0, 2.08333, 0, 0);
  -ms-transform: matrix(2.08333, 0, 0, 2.08333, 0, 0);
  background-color: #0c5ac3;
  border-radius: 20px;
  padding: 5px 18px; }

.cartPopup__dismiss button:hover, .nav-items__link .menu-link:hover {
  color: #7ab931;
  border-bottom: 2px solid #7ab931; }

.nav-actions, nav .toggle-icons {
  display: flex; }

.nav-actions {
  align-items: center;
  width: 100%;
  max-width: 325px;
  justify-content: center; }

@media (max-width: 1023px) {
  .nav-actions {
    flex-direction: column; }
  .nav-cart {
    text-align: center; } }

nav .toggle-collapse {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  cursor: pointer;
  display: none; }

nav .toggle-icons {
  justify-content: flex-end;
  padding: 2rem 0; }

@media (max-width: 767px) {
  nav .toggle-icons {
    margin-top: 2px; } }

nav .toggle-icons i {
  font-size: 1.4rem; }

.collapse {
  height: 100vh; }

.icon {
  position: relative; }

.icon, .icon::after, .icon::before {
  border: 2px solid #005ac3;
  margin-bottom: 5px;
  border-radius: 1rem;
  display: inline-block;
  transition: all .8s ease;
  transition-property: width, left; }

.icon, .icon::after {
  width: 28px; }

.icon::after, .icon::before {
  content: " ";
  position: absolute;
  left: -2px; }

.icon::before {
  width: 28px;
  top: 5px; }

.icon::after {
  top: 12px; }

.toggle-click, .toggle-click::after, .toggle-click::before {
  width: 20px; }

.toggle-click::before {
  left: -12px; }

@media only screen and (max-width: 1023px) {
  nav {
    flex-direction: column !important;
    display: block !important; }
  nav .nav-items {
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 10vh; }
  nav .toggle-collapse {
    width: 50px;
    display: initial; } }

.form-block {
  position: relative;
  margin-top: -115px;
  z-index: 102; }

@media (max-width: 1023px) {
  .form-block {
    padding: 0 55px; } }

@media (max-width: 767px) {
  .form-block {
    margin-top: -3px;
    padding: 0; } }

.form-block .form-wrapper {
  margin-bottom: 40px;
  padding: 25px 160px;
  background: #005ac3;
  text-align: center;
  color: #fff; }

@media (max-width: 1199px) {
  .form-block .form-wrapper {
    padding: 27px 100px; } }

@media (max-width: 500px) {
  .form-block .form-wrapper {
    padding: 27px 20px; } }

.form-block .form-wrapper__headline {
  font-size: 25px;
  margin-bottom: 34px; }

@media (max-width: 1023px) {
  .form-block .form-wrapper__headline {
    font-size: 20px; } }

.form-block .form-wrapper .form {
  font-family: Roboto, sans-serif; }

.form-block .form-wrapper .form-group, .form-block .form-wrapper .form-row, .info-block {
  display: flex; }

.form-block .form-wrapper .form-group .to {
  font-size: 14px;
  margin: 8px 12px 0; }

.form-block .form-wrapper .form-row {
  justify-content: space-between;
  margin-bottom: 37px; }

@media (max-width: 1023px) {
  .form-block .form-wrapper .form-row {
    flex-direction: column;
    margin-bottom: 0; } }

.form-block .form-wrapper .form-row:last-child {
  margin-bottom: 27px; }

.form-block .form-wrapper .form-row .col {
  width: 100%;
  margin: 0 18px 0 20px; }

@media (max-width: 1023px) {
  .form-block .form-wrapper .form-row .col {
    margin: 0; } }

.form-block .form-wrapper .form-row .col .input {
  width: 100%;
  padding: 7px 8px;
  white-space: nowrap; }

@media (max-width: 1023px) {
  .form-block .form-wrapper .form-row .col .input {
    margin-bottom: 20px; } }

.form-block .form-wrapper .form-row .col .input.keywords {
  text-overflow: ellipsis; }

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Roboto;
  src: url(fonts/Robotomedium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Roboto;
  src: url(fonts/Robotobold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Good-Times;
  src: url(fonts/GoodTimesRg-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

*, :after, :before {
  box-sizing: border-box; }

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  outline: 0;
  -webkit-tap-highlight-color: transparent; }

button, label {
  outline: 0;
  font: inherit; }

label {
  -webkit-tap-highlight-color: transparent; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote::before, blockquote:after, q::before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  border: 0;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: 0 0;
  color: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none; }

input, label, select, textarea {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: 0 0;
  line-height: inherit;
  box-shadow: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  font-family: inherit; }

label, select, textarea {
  border: 0;
  font-size: inherit; }

input::-moz-placeholder, label::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
  font-family: inherit;
  font-size: inherit;
  color: inherit; }

input:-ms-input-placeholder, label:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-family: inherit;
  font-size: inherit;
  color: inherit; }

input::placeholder, label::placeholder, select::placeholder, textarea::placeholder {
  font-family: inherit;
  font-size: inherit;
  color: inherit; }

body, html {
  font-family: Good-Times, sans-serif;
  font-weight: 400;
  color: #000;
  scroll-behavior: smooth;
  font-size: 18px; }

img, video {
  max-width: 100%;
  height: auto; }

main {
  margin-bottom: -4px; }

.title {
  font-size: 1.77778rem;
  font-weight: 500;
  line-height: 1.2em;
  margin-bottom: 1.05em;
  letter-spacing: .04em;
  text-transform: uppercase; }

.text-container {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.45em;
  letter-spacing: 0; }

.text-container ol, .text-container p, .text-container ul {
  margin-bottom: 1em; }

.banner, .banner-img {
  position: relative; }

.overlay {
  background-image: url("images/bus_overlay.png");
  background-position: top;
  background-size: cover;
  position: absolute;
  z-index: 101;
  height: 535px;
  width: 100%; }

.banner-img {
  background-size: cover;
  background-position: center;
  height: 535px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

@media (max-width: 1023px) {
  .banner-img, .overlay {
    height: 335px !important; } }

@media (max-width: 767px) {
  .banner-img, .overlay {
    height: 200px !important; } }

@media (max-width: 459px) {
  .banner-img, .overlay {
    height: 350px !important; } }

.banner-img.darked {
  filter: brightness(0.8); }

@media (max-width: 767px) {
  .banner-img.mobile-high {
    height: 370px !important; } }

.banner-img_small {
  height: 415px; }

@media (max-width: 767px) {
  .banner-img_product {
    height: 415px !important; }
  .banner-img_home {
    height: 220px !important; }
  .banner-img_404 {
    height: 370px !important; } }

.banner-text {
  position: absolute;
  top: 150px;
  color: #fff;
  font-size: 47px;
  line-height: 56px;
  z-index: 10;
  margin-left: 30px; }

@media (max-width: 1199px) {
  .banner-text {
    left: 60px;
    top: 100px;
    font-size: 34px;
    line-height: 38px;
    margin-left: 0; } }

@media (max-width: 767px) {
  .banner-text {
    left: 0;
    right: 0;
    text-align: center;
    top: 60px;
    font-size: 26px;
    line-height: 30px; } }

.banner-text_small {
  font-size: 44px;
  line-height: 50px;
  top: auto;
  bottom: 50px; }

@media (max-width: 1199px) {
  .banner-text_small {
    font-size: 36px;
    line-height: 40px; } }

@media (max-width: 1023px) {
  .banner-text_small {
    padding: 0 !important; } }

@media (max-width: 767px) {
  .banner-text_small {
    left: 0;
    right: 0;
    text-align: center;
    font-size: 26px;
    line-height: 34px;
    padding: 0 10px; } }

@media (max-width: 459px) {
  .banner-text_small {
    padding: 0; } }

.banner-text_main {
  top: auto;
  bottom: calc(47% - 23px);
  z-index: 102;
  height: 100%;
  max-height: 170px;
  display: flex;
  flex-flow: column;
  justify-content: space-between; }

@media (max-width: 767px) {
  .banner-text_product {
    text-align: left; }
  .banner-text_about, .banner-text_aboutSub {
    left: 30px;
    text-align: left; } }

@media (max-width: 459px) {
  .banner-text_aboutSub {
    width: 280px; } }

@media (max-width: 767px) {
  .banner-text_contact {
    left: 30px !important;
    text-align: left !important;
    position: absolute; }
  .banner-text_404 {
    padding: 0 28px !important; } }

.banner-text_36 {
  font-size: 36px;
  line-height: 44px; }

@media (max-width: 1023px) {
  .banner-text_36 {
    font-size: 24px;
    line-height: 28px; } }

.banner-text__block {
  position: absolute;
  top: auto;
  bottom: 50px;
  color: #fff;
  margin-left: -50px; }

@media (max-width: 1199px) {
  .banner-text__block {
    margin-left: 0; } }

@media (max-width: 1023px) {
  .banner-text__block {
    left: 60px;
    padding-right: 15px; } }

@media (max-width: 767px) {
  .banner-text__block {
    left: 30px; } }

@media (max-width: 459px) {
  .banner-text__block {
    left: 30px;
    right: 30px; } }

.banner-text__block__pre {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px; }

@media (max-width: 459px) {
  .banner-text__block__pre {
    font-size: 14px; } }

.banner-text__block__post {
  max-width: 530px;
  font-family: Roboto, sans-serif;
  line-height: 22px;
  margin-top: 25px; }

.banner_textual {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #0071ce;
  color: #fff;
  font-size: 36px;
  height: 208px; }

@media (max-width: 1023px) {
  .banner_textual {
    font-size: 30px; } }

@media (max-width: 767px) {
  .banner_textual {
    font-size: 26px;
    line-height: 30px; } }

.banner_textual_headline {
  margin-left: -50px; }

@media (max-width: 1199px) {
  .banner_textual_headline {
    margin-left: 0; } }

.banner-arrow {
  width: 35px;
  height: 18px; }

@media (max-width: 1199px) {
  .banner-arrow {
    margin-left: 0; } }

@media (max-width: 767px) {
  .banner-arrow {
    margin: 0 auto; } }

.banner.fullHeight {
  min-height: calc(100vh - 76px - 284px); }

@media (max-width: 1310px) {
  .banner.fullHeight {
    min-height: calc(100vh - 76px - 298px); } }

@media (max-width: 1199px) {
  .banner.fullHeight {
    min-height: calc(100vh - 76px - 481px); } }

@media (max-width: 1023px) {
  .banner.fullHeight {
    min-height: auto; } }

.form-row {
  display: flex; }

@media (max-width: 767px) {
  .form-row {
    flex-direction: column;
    align-items: center; } }

.select, input {
  background: #e3e4e5;
  border: 1px solid #e3e4e5;
  color: #231f20;
  font-size: 14px; }

@media (max-width: 459px) {
  .select, input {
    font-size: 13px; } }

.headline, .select option, input option {
  text-transform: uppercase; }

.headline {
  font-family: Good-Times, sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #005ac3;
  text-align: center; }

@media (max-width: 767px) {
  .headline {
    font-size: 18px; } }

.headline_big {
  font-size: 24px;
  line-height: 28px; }

@media (max-width: 1023px) {
  .headline_big {
    font-size: 20px;
    line-height: 24px; } }

.headline_21 {
  font-size: 21px;
  line-height: 25px; }

@media (max-width: 1023px) {
  .headline_21 {
    font-size: 18px; } }

@media (max-width: 767px) {
  .headline_21 {
    font-size: 16px; } }

@media (max-width: 459px) {
  .headline_21 {
    font-size: 14px;
    line-height: 20px; } }

@media (max-width: 767px) {
  .headline-contact {
    font-size: 20px !important; } }

.common-form, .subheadline {
  font-family: Roboto, sans-serif; }

.subheadline {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 0 20px; }

.common-form {
  display: flex;
  justify-content: center;
  align-items: center; }

@media (max-width: 1023px) {
  .common-form {
    flex-direction: column;
    margin-top: 70px; } }

.common-form__headline {
  margin-right: 38px;
  margin-bottom: 5px; }

@media (max-width: 1023px) {
  .common-form__headline {
    margin-bottom: 50px;
    margin-right: 0; } }

.common-form__select {
  min-width: 420px;
  position: relative; }

@media (max-width: 1199px) {
  .common-form__select {
    min-width: 380px; } }

@media (max-width: 500px) {
  .common-form__select {
    min-width: 300px; } }

.common-form__select__pre {
  text-transform: uppercase;
  position: absolute;
  bottom: 60px;
  left: 20px; }

@media (max-width: 1023px) {
  .common-form__select__pre {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    bottom: 60px; } }

.common-form__button {
  margin-left: 25px; }

@media (max-width: 1023px) {
  .common-form__button {
    margin-left: 0;
    margin-top: 25px; } }

@media (max-width: 345px) {
  .common-form__button {
    width: 100%; } }

.common-form__button .btn {
  padding: 15px 50px; }

@media (max-width: 345px) {
  .common-form__button .btn {
    width: 100%; } }

.pagination {
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  font-size: 12px; }

@media (max-width: 767px) {
  .pagination {
    margin-top: 20px; } }

.pagination__item {
  color: #464749;
  float: left;
  padding: 7px 15px;
  text-decoration: none;
  transition: background-color .3s; }

@media (max-width: 767px) {
  .pagination__item {
    padding: 7px 13px; } }

.pagination__item.arrow {
  color: #005ac3;
  font-size: 12px; }

.pagination__item.active {
  background-color: #005ac3;
  color: #fff; }

.pagination__item:hover:not(.active) {
  background-color: #ddd; }

.pagination__item.disabled {
  pointer-events: none;
  opacity: .5; }

.pagination .sep {
  padding: 7px 11px; }

.content-text {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  line-height: 30px;
  word-break: break-word;
  margin: 65px 0 120px; }

@media (max-width: 1023px) {
  .content-text {
    padding: 0 60px; } }

@media (max-width: 767px) {
  .content-text {
    margin: 50px 0 45px;
    padding: 0;
    font-size: 16px;
    line-height: 26px; } }

.content-text h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0071ce;
  margin-bottom: 42px;
  margin-top: 70px; }

@media (max-width: 1023px) {
  .content-text h2 {
    font-size: 28px;
    line-height: 30px;
    margin-top: 65px;
    margin-bottom: 30px; } }

@media (max-width: 767px) {
  .content-text h2 {
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 35px; } }

.content-text li, .content-text p, .content-text_num-li {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 40px; }

@media (max-width: 1023px) {
  .content-text p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px; } }

.content-text ol, .content-text ul {
  margin-bottom: 30px; }

.content-text .ol {
  counter-reset: num-counter; }

.content-text li, .content-text_num-li {
  position: relative;
  padding-left: 60px; }

@media (max-width: 1023px) {
  .content-text li {
    font-size: 16px;
    line-height: 24px; } }

@media (max-width: 767px) {
  .content-text li {
    margin-bottom: 30px;
    padding-left: 40px; } }

.content-text li:before {
  position: absolute;
  content: '●';
  top: 0;
  left: 25px; }

@media (max-width: 767px) {
  .content-text li:before {
    left: 12px; } }

.content-text_num-li {
  list-style: none;
  padding-left: 65px;
  counter-increment: num-counter; }

@media (max-width: 1023px) {
  .content-text_num-li {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px; } }

@media (max-width: 767px) {
  .content-text_num-li {
    margin-bottom: 30px;
    padding-left: 40px; } }

.content-text_num-li::before {
  position: absolute;
  content: counter(num-counter) ". " !important;
  color: #000;
  font-weight: 500;
  padding-left: 25px;
  padding-right: 20px;
  left: 9px !important; }

@media (max-width: 767px) {
  .content-text_num-li::before {
    padding-left: 15px;
    left: 0 !important; } }

.product-individual__descr .features .feature span, .search-descr__info span, b, strong {
  font-weight: 700; }

.slide-new .slider-item__text {
  width: 100% !important;
  margin-top: 0; }

.swiper-container {
  height: auto !important; }

@media (max-width: 767px) {
  .index-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .index-hero .container-big {
    z-index: 2;
    text-align: center; }
  .index-hero .banner-text_main {
    top: 0;
    position: relative; }
  .index-hero .banner-arrow {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto; } }

.pointer {
  cursor: pointer; }

.no-results {
  text-align: center;
  color: #7ab931;
  display: none;
  font-weight: 700;
  font-size: 30px; }

.footer-wrapper .col a, .no-results.active {
  display: block; }

@media (max-width: 767px) {
  .no-results {
    font-size: 18px; } }

.no-mt {
  margin-top: -110px !important; }

@media (max-width: 767px) {
  .no-mt {
    margin-top: 0 !important; } }

.next-prev {
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 7px; }

.next-prev__inner {
  position: relative;
  width: 100%; }

@media (max-width: 767px) {
  .next-prev__inner {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .next-prev {
    position: relative;
    margin-bottom: 13px; } }

@media (max-width: 1199px) {
  body, html {
    font-size: 17px; } }

@media (max-width: 1023px) {
  body, html {
    font-size: 16px; } }

@media (max-width: 767px) {
  body, html {
    font-size: 15px; } }

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1195px; }

@media (max-width: 1500px) {
  .container {
    padding: 0 100px; } }

@media (max-width: 1199px) {
  .container {
    padding: 0 100px; } }

@media (max-width: 1023px) {
  .container {
    padding: 0 60px; } }

@media (max-width: 767px) {
  .container {
    padding: 0 45px; } }

@media (max-width: 639px) {
  .container {
    padding: 0 30px; } }

.container_header {
  padding: 0 50px !important; }

@media (max-width: 1023px) {
  .container_header {
    padding: 0 30px !important; } }

.container_privacy {
  max-width: 1200px;
  color: #231f20; }

.container-big {
  width: 100%;
  margin: 0 auto;
  max-width: 1550px;
  padding: 0 90px; }

@media (max-width: 1023px) {
  .container-big {
    padding: 0 60px; } }

@media (max-width: 767px) {
  .container-big {
    padding: 0 45px; } }

@media (max-width: 639px) {
  .container-big {
    padding: 0 30px; } }

.header {
  background: #eeefef; }

@media (max-width: 1023px) {
  .header-actions__btn {
    text-align: center;
    margin-top: 15px; } }

.header-actions__btn.adaptive {
  display: none; }

@media (max-width: 1023px) {
  .header-actions__btn.adaptive {
    display: flex;
    margin-right: 55px;
    justify-content: center;
    align-items: center;
    margin-top: 8px; } }

@media (min-width: 320px) and (max-width: 370px) {
  .header-actions__btn.adaptive {
    margin-right: 38px; } }

@media (max-width: 1023px) {
  .header-actions__btn.desktop {
    display: none; } }

.header-actions__btn .header-btn {
  font-size: 14px;
  padding: 11px 34px;
  width: 144px;
  transition: all .3s;
  color: #005ac3; }

.header-actions__btn .header-btn:hover {
  color: #7ab931; }

.row {
  display: flex;
  flex-wrap: wrap; }

@media (max-width: 1023px) {
  .header-actions__btn .header-btn {
    padding: 0; } }

@media (max-width: 767px) {
  .header-actions__btn .header-btn {
    font-size: 12px;
    width: 128px; } }

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap; }

.logo {
  height: 60px;
  width: 105px; }

@media (max-width: 1023px) {
  .logo {
    width: 100px;
    height: 45px; } }

@media (max-width: 767px) {
  .logo {
    width: 70px;
    height: 40px; } }

.nav, .nav-brand {
  justify-content: space-between; }

.nav {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: 0;
  min-height: 76px;
  overflow-y: hidden;
  transition: height 1s cubic-bezier(0.26, -0.01, 0, 1.01); }

.nav-brand {
  display: flex; }

.nav-brand__wrapper {
  display: block;
  padding: 1rem 0;
  font-size: 1.6rem;
  margin-left: 19px; }

.nav-items {
  list-style-type: none;
  margin: 0; }

.nav-menu {
  flex: 0 0 150px; }

.nav-items__menu {
  flex: 0 0 50%;
  display: flex;
  justify-content: flex-end;
  padding: 4px 0 0 0; }

.nav-items__link {
  padding-right: 55px;
  font-size: 13px;
  color: #005ac3;
  padding-top: 3px; }

@media (max-width: 1199px) {
  .nav-items__link {
    padding-right: 40px;
    padding: 1.3rem 1rem; } }

@media (max-width: 1023px) {
  .nav-items__link {
    font-size: 18px;
    padding: 2.5rem 1rem; } }

@media (max-width: 767px) {
  .nav-items__link {
    padding: 2rem 1rem; }
  .nav-items__menu {
    padding: 0; } }

.nav-items__link_cart {
  margin-right: 80px;
  padding-right: 0;
  cursor: pointer; }

@media (max-width: 1023px) {
  .nav-items__link_cart {
    margin-right: 0; } }

.nav-items__link .menu-link {
  border-bottom: 2px solid transparent;
  transition: all .1s ease-out; }

.call-now {
  font-size: 6px;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  -moz-transform: matrix(2.08333, 0, 0, 2.08333, 0, 0);
  -webkit-transform: matrix(2.08333, 0, 0, 2.08333, 0, 0);
  -ms-transform: matrix(2.08333, 0, 0, 2.08333, 0, 0);
  background-color: #0c5ac3;
  border-radius: 20px;
  padding: 5px 18px; }

.cartPopup__dismiss button:hover, .nav-items__link .menu-link:hover {
  color: #7ab931;
  border-bottom: 2px solid #7ab931; }

.nav-actions, nav .toggle-icons {
  display: flex; }

.nav-actions {
  align-items: center;
  width: 100%;
  max-width: 325px;
  justify-content: center; }

@media (max-width: 1023px) {
  .nav-actions {
    flex-direction: column; }
  .nav-cart {
    text-align: center; } }

nav .toggle-collapse {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  cursor: pointer;
  display: none; }

nav .toggle-icons {
  justify-content: flex-end;
  padding: 2rem 0; }

@media (max-width: 767px) {
  nav .toggle-icons {
    margin-top: 2px; } }

nav .toggle-icons i {
  font-size: 1.4rem; }

.collapse {
  height: 100vh; }

.icon {
  position: relative; }

.icon, .icon::after, .icon::before {
  border: 2px solid #005ac3;
  margin-bottom: 5px;
  border-radius: 1rem;
  display: inline-block;
  transition: all .8s ease;
  transition-property: width, left; }

.icon, .icon::after {
  width: 28px; }

.icon::after, .icon::before {
  content: " ";
  position: absolute;
  left: -2px; }

.icon::before {
  width: 28px;
  top: 5px; }

.icon::after {
  top: 12px; }

.toggle-click, .toggle-click::after, .toggle-click::before {
  width: 20px; }

.toggle-click::before {
  left: -12px; }

@media only screen and (max-width: 1023px) {
  nav {
    flex-direction: column !important;
    display: block !important; }
  nav .nav-items {
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 10vh; }
  nav .toggle-collapse {
    width: 50px;
    display: initial; } }

.title {
  font-size: 1.77778rem;
  font-weight: 500;
  line-height: 1.2em;
  margin-bottom: 1.05em;
  letter-spacing: .04em;
  text-transform: uppercase; }

.text-container {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.45em;
  letter-spacing: 0; }

.text-container ol, .text-container p, .text-container ul {
  margin-bottom: 1em; }

.banner, .banner-img {
  position: relative; }

.overlay {
  background-image: url("images/bus_overlay.png");
  background-position: top;
  background-size: cover;
  position: absolute;
  z-index: 101;
  height: 535px;
  width: 100%; }

.banner-img {
  background-size: cover;
  background-position: center;
  height: 535px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

@media (max-width: 1023px) {
  .banner-img, .overlay {
    height: 335px !important; } }

@media (max-width: 767px) {
  .banner-img, .overlay {
    height: 200px !important; } }

@media (max-width: 459px) {
  .banner-img, .overlay {
    height: 350px !important; } }

.banner-img.darked {
  filter: brightness(0.8); }

@media (max-width: 767px) {
  .banner-img.mobile-high {
    height: 370px !important; } }

.banner-img_small {
  height: 415px; }

@media (max-width: 767px) {
  .banner-img_product {
    height: 415px !important; }
  .banner-img_home {
    height: 220px !important; }
  .banner-img_404 {
    height: 370px !important; } }

.banner-text {
  position: absolute;
  top: 150px;
  color: #fff;
  font-size: 47px;
  line-height: 56px;
  z-index: 10;
  margin-left: 30px; }

@media (max-width: 1199px) {
  .banner-text {
    left: 60px;
    top: 100px;
    font-size: 34px;
    line-height: 38px;
    margin-left: 0; } }

@media (max-width: 767px) {
  .banner-text {
    left: 0;
    right: 0;
    text-align: center;
    top: 60px;
    font-size: 26px;
    line-height: 30px; } }

.banner-text_small {
  font-size: 44px;
  line-height: 50px;
  top: auto;
  bottom: 50px; }

@media (max-width: 1199px) {
  .banner-text_small {
    font-size: 36px;
    line-height: 40px; } }

@media (max-width: 1023px) {
  .banner-text_small {
    padding: 0 !important; } }

@media (max-width: 767px) {
  .banner-text_small {
    left: 0;
    right: 0;
    text-align: center;
    font-size: 26px;
    line-height: 34px;
    padding: 0 10px; } }

@media (max-width: 459px) {
  .banner-text_small {
    padding: 0; } }

.banner-text_main {
  top: auto;
  bottom: calc(47% - 23px);
  z-index: 102;
  height: 100%;
  max-height: 170px;
  display: flex;
  flex-flow: column;
  justify-content: space-between; }

@media (max-width: 767px) {
  .banner-text_product {
    text-align: left; }
  .banner-text_about, .banner-text_aboutSub {
    left: 30px;
    text-align: left; } }

@media (max-width: 459px) {
  .banner-text_aboutSub {
    width: 280px; } }

@media (max-width: 767px) {
  .banner-text_contact {
    left: 30px !important;
    text-align: left !important;
    position: absolute; }
  .banner-text_404 {
    padding: 0 28px !important; } }

.banner-text_36 {
  font-size: 36px;
  line-height: 44px; }

@media (max-width: 1023px) {
  .banner-text_36 {
    font-size: 24px;
    line-height: 28px; } }

.banner-text__block {
  position: absolute;
  top: auto;
  bottom: 50px;
  color: #fff;
  margin-left: -50px; }

@media (max-width: 1199px) {
  .banner-text__block {
    margin-left: 0; } }

@media (max-width: 1023px) {
  .banner-text__block {
    left: 60px;
    padding-right: 15px; } }

@media (max-width: 767px) {
  .banner-text__block {
    left: 30px; } }

@media (max-width: 459px) {
  .banner-text__block {
    left: 30px;
    right: 30px; } }

.banner-text__block__pre {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px; }

@media (max-width: 459px) {
  .banner-text__block__pre {
    font-size: 14px; } }

.banner-text__block__post {
  max-width: 530px;
  font-family: Roboto, sans-serif;
  line-height: 22px;
  margin-top: 25px; }

.banner_textual {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #0071ce;
  color: #fff;
  font-size: 36px;
  height: 208px; }

@media (max-width: 1023px) {
  .banner_textual {
    font-size: 30px; } }

@media (max-width: 767px) {
  .banner_textual {
    font-size: 26px;
    line-height: 30px; } }

.banner_textual_headline {
  margin-left: -50px; }

@media (max-width: 1199px) {
  .banner_textual_headline {
    margin-left: 0; } }

.banner-arrow {
  width: 35px;
  height: 18px; }

@media (max-width: 1199px) {
  .banner-arrow {
    margin-left: 0; } }

@media (max-width: 767px) {
  .banner-arrow {
    margin: 0 auto; } }

.banner.fullHeight {
  min-height: calc(100vh - 76px - 284px); }

@media (max-width: 1310px) {
  .banner.fullHeight {
    min-height: calc(100vh - 76px - 298px); } }

@media (max-width: 1199px) {
  .banner.fullHeight {
    min-height: calc(100vh - 76px - 481px); } }

@media (max-width: 1023px) {
  .banner.fullHeight {
    min-height: auto; } }

.form-row {
  display: flex; }

@media (max-width: 767px) {
  .form-row {
    flex-direction: column;
    align-items: center; } }

.select, input {
  background: #e3e4e5;
  border: 1px solid #e3e4e5;
  color: #231f20;
  font-size: 14px; }

@media (max-width: 459px) {
  .select, input {
    font-size: 13px; } }

.headline, .select option, input option {
  text-transform: uppercase; }

.headline {
  font-family: Good-Times, sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #005ac3;
  text-align: center; }

@media (max-width: 767px) {
  .headline {
    font-size: 18px; } }

.headline_big {
  font-size: 24px;
  line-height: 28px; }

@media (max-width: 1023px) {
  .headline_big {
    font-size: 20px;
    line-height: 24px; } }

.headline_21 {
  font-size: 21px;
  line-height: 25px; }

@media (max-width: 1023px) {
  .headline_21 {
    font-size: 18px; } }

@media (max-width: 767px) {
  .headline_21 {
    font-size: 16px; } }

@media (max-width: 459px) {
  .headline_21 {
    font-size: 14px;
    line-height: 20px; } }

@media (max-width: 767px) {
  .headline-contact {
    font-size: 20px !important; } }

.common-form, .subheadline {
  font-family: Roboto, sans-serif; }

.subheadline {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 0 20px; }

.common-form {
  display: flex;
  justify-content: center;
  align-items: center; }

@media (max-width: 1023px) {
  .common-form {
    flex-direction: column;
    margin-top: 70px; } }

.common-form__headline {
  margin-right: 38px;
  margin-bottom: 5px; }

@media (max-width: 1023px) {
  .common-form__headline {
    margin-bottom: 50px;
    margin-right: 0; } }

.common-form__select {
  min-width: 420px;
  position: relative; }

@media (max-width: 1199px) {
  .common-form__select {
    min-width: 380px; } }

@media (max-width: 500px) {
  .common-form__select {
    min-width: 300px; } }

.common-form__select__pre {
  text-transform: uppercase;
  position: absolute;
  bottom: 60px;
  left: 20px; }

@media (max-width: 1023px) {
  .common-form__select__pre {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    bottom: 60px; } }

.common-form__button {
  margin-left: 25px; }

@media (max-width: 1023px) {
  .common-form__button {
    margin-left: 0;
    margin-top: 25px; } }

@media (max-width: 345px) {
  .common-form__button {
    width: 100%; } }

.common-form__button .btn {
  padding: 15px 50px; }

@media (max-width: 345px) {
  .common-form__button .btn {
    width: 100%; } }

.pagination {
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  font-size: 12px; }

@media (max-width: 767px) {
  .pagination {
    margin-top: 20px; } }

.pagination__item {
  color: #464749;
  float: left;
  padding: 7px 15px;
  text-decoration: none;
  transition: background-color .3s; }

@media (max-width: 767px) {
  .pagination__item {
    padding: 7px 13px; } }

.pagination__item.arrow {
  color: #005ac3;
  font-size: 12px; }

.pagination__item.active {
  background-color: #005ac3;
  color: #fff; }

.pagination__item:hover:not(.active) {
  background-color: #ddd; }

.pagination__item.disabled {
  pointer-events: none;
  opacity: .5; }

.pagination .sep {
  padding: 7px 11px; }

.content-text {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  line-height: 30px;
  word-break: break-word;
  margin: 65px 0 120px; }

@media (max-width: 1023px) {
  .content-text {
    padding: 0 60px; } }

@media (max-width: 767px) {
  .content-text {
    margin: 50px 0 45px;
    padding: 0;
    font-size: 16px;
    line-height: 26px; } }

.content-text h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0071ce;
  margin-bottom: 42px;
  margin-top: 70px; }

@media (max-width: 1023px) {
  .content-text h2 {
    font-size: 28px;
    line-height: 30px;
    margin-top: 65px;
    margin-bottom: 30px; } }

@media (max-width: 767px) {
  .content-text h2 {
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 35px; } }

.content-text li, .content-text p, .content-text_num-li {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 40px; }

@media (max-width: 1023px) {
  .content-text p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px; } }

.content-text ol, .content-text ul {
  margin-bottom: 30px; }

.content-text .ol {
  counter-reset: num-counter; }

.content-text li, .content-text_num-li {
  position: relative;
  padding-left: 60px; }

@media (max-width: 1023px) {
  .content-text li {
    font-size: 16px;
    line-height: 24px; } }

@media (max-width: 767px) {
  .content-text li {
    margin-bottom: 30px;
    padding-left: 40px; } }

.content-text li:before {
  position: absolute;
  content: '●';
  top: 0;
  left: 25px; }

@media (max-width: 767px) {
  .content-text li:before {
    left: 12px; } }

.content-text_num-li {
  list-style: none;
  padding-left: 65px;
  counter-increment: num-counter; }

@media (max-width: 1023px) {
  .content-text_num-li {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px; } }

@media (max-width: 767px) {
  .content-text_num-li {
    margin-bottom: 30px;
    padding-left: 40px; } }

.content-text_num-li::before {
  position: absolute;
  content: counter(num-counter) ". " !important;
  color: #000;
  font-weight: 500;
  padding-left: 25px;
  padding-right: 20px;
  left: 9px !important; }

@media (max-width: 767px) {
  .content-text_num-li::before {
    padding-left: 15px;
    left: 0 !important; } }

.product-individual__descr .features .feature span, .search-descr__info span, b, strong {
  font-weight: 700; }

.slide-new .slider-item__text {
  width: 100% !important;
  margin-top: 0; }

.swiper-container {
  height: auto !important; }

@media (max-width: 767px) {
  .index-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .index-hero .container-big {
      z-index: 2;
      text-align: center; }
    .index-hero .banner-text_main {
      top: 0;
      position: relative; }
    .index-hero .banner-arrow {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto; } }

.form-block {
  position: relative;
  margin-top: -115px;
  z-index: 102; }

@media (max-width: 1023px) {
  .form-block {
    padding: 0 55px; } }

@media (max-width: 767px) {
  .form-block {
    margin-top: -3px;
    padding: 0; } }

.form-block .form-wrapper {
  margin-bottom: 40px;
  padding: 25px 160px;
  background: #005ac3;
  text-align: center;
  color: #fff; }

@media (max-width: 1199px) {
  .form-block .form-wrapper {
    padding: 27px 100px; } }

@media (max-width: 500px) {
  .form-block .form-wrapper {
    padding: 27px 20px; } }

.form-block .form-wrapper__headline {
  font-size: 25px;
  margin-bottom: 34px; }

@media (max-width: 1023px) {
  .form-block .form-wrapper__headline {
    font-size: 20px; } }

.form-block .form-wrapper .form {
  font-family: Roboto, sans-serif; }

.form-block .form-wrapper .form-group, .form-block .form-wrapper .form-row, .info-block {
  display: flex; }

.form-block .form-wrapper .form-group .to {
  font-size: 14px;
  margin: 8px 12px 0; }

.form-block .form-wrapper .form-row {
  justify-content: space-between;
  margin-bottom: 37px; }

@media (max-width: 1023px) {
  .form-block .form-wrapper .form-row {
    flex-direction: column;
    margin-bottom: 0; } }

.form-block .form-wrapper .form-row:last-child {
  margin-bottom: 27px; }

.form-block .form-wrapper .form-row .col {
  width: 100%;
  margin: 0 18px 0 20px; }

@media (max-width: 1023px) {
  .form-block .form-wrapper .form-row .col {
    margin: 0; } }

@media (max-width: 1023px) {
  .form-block .form-wrapper .form-row .col .input {
    margin-bottom: 20px; } }

.form-block .form-wrapper .form-row .col .input.keywords {
  text-overflow: ellipsis; }

@media (max-width: 1023px) {
  .form-block .form-wrapper .form-bottom {
    padding: 20px 0 10px; } }

@media (max-width: 767px) {
  .form-block .form-wrapper .form-bottom {
    flex-direction: column; } }

@media (max-width: 767px) {
  .form-block .form-wrapper .form-bottom__reset {
    margin-bottom: 20px; } }

@media (max-width: 459px) {
  .form-block .form-wrapper .form-bottom__search {
    width: 100%; } }

.form-block .form-wrapper .form-bottom__search_main {
  margin: 0; }

.form-block .form-wrapper .form-row .col .input {
  width: 100%;
  padding: 7px 8px;
  white-space: nowrap; }

.form-block .form-wrapper .form-bottom {
  padding: 0 17px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -10px; }

.form-block .form-wrapper .form-bottom__reset {
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  background: 0 0;
  border: 0;
  text-decoration: underline;
  text-transform: uppercase; }

.form-block .form-wrapper .form-bottom__search {
  padding: 12px 50px;
  font-size: 16px;
  background: #7ab931;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  font-family: Roboto,sans-serif;
  font-weight: 700;
  border-radius: 16px;
  min-width: 160px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .2s ease; }

.form-block .form-wrapper .form-bottom {
  padding: 0 17px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -10px; }

@media (max-width: 1023px) {
  .form-block .form-wrapper .form-bottom {
    padding: 20px 0 10px; } }

@media (max-width: 767px) {
  .form-block .form-wrapper .form-bottom {
    flex-direction: column; } }

.form-block .form-wrapper .form-bottom__reset {
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  background: 0 0;
  border: 0;
  text-decoration: underline;
  text-transform: uppercase; }

@media (max-width: 767px) {
  .form-block .form-wrapper .form-bottom__reset {
    margin-bottom: 20px; } }

.form-block .form-wrapper .form-bottom__search {
  padding: 12px 50px;
  font-size: 16px;
  background: #7ab931;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  font-family: Roboto,sans-serif;
  font-weight: 700;
  border-radius: 16px;
  min-width: 160px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .2s ease; }

@media (max-width: 459px) {
  .form-block .form-wrapper .form-bottom__search {
    width: 100%; } }

.form-block .form-wrapper .form-bottom__search_main {
  margin: 0; }
